@model ProyectoFinanciera.Models.Preguntas

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalles de Pregunta</h2>
<br />
<div>
    <p>
        <button class="btn btn-primary" onclick="location.href='@Url.Action("Create", "Respuestas")';return false;">Responder</button>
    </p>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Nombre)
        </dt>

        <dd>

            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>

            @Html.DisplayNameFor(model => model.Pregunta)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Pregunta)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Descripcion)
        </dd>

    </dl>
</div>


        <p>
            @Html.ActionLink("Regresar", "Index")| @Html.ActionLink("Ver Respuestas Relacionadas", "Respuestas", "Respuestas", new { id = Model.ID }, new { @class = "" })
        </p>


<p>


    <br />
   

</p>
