@model IEnumerable<ProyectoFinanciera.Models.Indicadores>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.COD_INDICADORINTERNO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DES_FECHA)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NUM_VALOR)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.COD_INDICADORINTERNO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DES_FECHA)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NUM_VALOR)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
