<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                   <img src="@Url.Content("~/Content/images/d5827044-9927-4ec5-b205-fb6cdc646ab8_200x200.png")" style="width:40px;height:40px;">                  
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav">
                    <li> <div class="col-sm-1"></div> </li>
                    <li> @Html.ActionLink("El Progreso", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })</li>
                    <li>@Html.ActionLink("Acerca de", "About", "Home")</li>
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown">
                            Indicadores Económicos
                            <span class="caret"></span>
                        </a>
                        <ul class="dropdown-menu">
                            <li>@Html.ActionLink("Tipo de Cambio Compra Dólar", "compraDolar", "Indicadores")</li>
                            <li>@Html.ActionLink("Tipo de Cambio Venta Dólar", "ventaDolar", "Indicadores")</li>
                            <li>@Html.ActionLink("Tasa Básica Pasiva", "basicaPasiva", "Indicadores")</li>
                            <li>@Html.ActionLink("Tasa de Política Monetaria", "politicaMonetaria", "Indicadores")</li>
                        </ul>
                    </li>
                    <li>@Html.ActionLink("Comportamiento Indicadores", "comportamientoIndicadores", "Indicadores")</li>
                    <li>@Html.ActionLink("Suscribirse", "Create", "Clientes")</li>
                    <li>@Html.ActionLink("Consultas", "Index", "Preguntas")</li>
                </ul>
            </div>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <div class="about"> <p> @DateTime.Now.Year - Proyecto Final Programación Avanzada en Web - Javier Barboza, Marcela Fernández, Juan Carlos Rogríguez</p></div>   
        </footer>
    </div>


    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
