@model ProyectoFinanciera.Models.Respuestas

@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Nueva Respuesta</h2>
<div class="alert alert-success alert-dismissable" id="Mensaje" hidden>
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    Respuesta ingresada exitosamete.
</div>
<div class="alert alert-danger alert-dismissable" id="Error" hidden>
    <a href="#" class="close" data-dismiss="alert">&times;</a>
    Hubo un error, no se pudo ingresar la respuesta.
</div>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Respuesta, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Respuesta, 10, 40, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Respuesta, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.nombreResponde, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.nombreResponde, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.nombreResponde, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Preguntas.Pregunta, "Pregunta", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownList("PreguntaId", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Preguntas.Pregunta, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Responder" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Regresar a la sección de Preguntas", "Index", "Preguntas")
</div>

<script type="text/javascript">
    $(document).ready(function(){


    if ('@ViewBag.message' == "Mensaje") {
    $("#Mensaje").removeAttr("hidden");
    }
    if ('@ViewBag.error' == "Error") {
    $("#Error").removeAttr("hidden");
    }

    });
</script>